<?xml version="1.0"?>
<configuration>
	<appSettings  />
	<connectionStrings />
	<system.web>
    <pages enableSessionState="true">
		</pages>
		<compilation debug="true"/>
		<authentication mode="Forms">
		</authentication>
		<anonymousIdentification enabled="true"/>
		<sessionState cookieless="AutoDetect" mode="InProc"  timeout="30" >
		</sessionState>
    <httpModules>
    </httpModules>
		<customErrors mode="Off"></customErrors>
  <!--
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
